{
	"sourceMaps": true,
	"minify": true,
	"jsc": {
		"target": "es2017",
		"parser": {
			"syntax": "typescript",
			"tsx": true,
			"decorators": false,
			"dynamicImport": false
		},
		"transform": {
			"react": {
				"runtime": "automatic"
			}
		}
	}
}
